#titulo{
    background-color: #ff6348;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: white;
}
#conteudo div{
    background-color: #e4d29cb0;
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
#results{
    margin: 1vw;
}

#resultadoCondicao{
    align-items: center;
}

#imgResults{
    max-width: 30%;
}
#resultadoSunrise,#resultadoSunset,#resultadoData,#resultadoCondicao{
    display: flex;
    border: none;
    align-items: center;
    padding: 1vw;
}

#resultadoCondicao{
    display: flex;
    border: none;
}
h1,h2{
    font-family: 'Roboto', sans-serif;
}